<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<input type="text" name="search" id="search" autofocus="">
<br>
<div class="player">
	<div class="artist-name">
		
	</div>
	<div class="song-title">
		
	</div>

	<button id="searchButton" type="button">SEARCH</button>
	<button id="play" type="button">PLAY</button>BACK</button>
	<button id="stop" type="button">STOP</button>
</div>